/* src/index.css */

/* 기본 상태 - 라이트 모드 기준 */
body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: white; /* ✅ 기본 배경 지정 */
  transition: background-color 0.3s ease; /* ✅ 트랜지션 추가 */
}

/* 다크모드 전역 스타일 */
.dark-body {
  background-color: #1e1e1e;
  min-height: 100vh;
}

.dark-html {
  background-color: #1e1e1e;
  height: 100%;
}
